caveclient==4.15.0
matplotlib==3.5.1
microns_minnie65_task_assignment.egg==info
numpy==1.21.5
pandas==1.4.2
Pillow==9.2.0
python-dotenv==0.20.0
scikit_learn==1.1.1
slack_bolt==1.14.0
slack_sdk==3.17.1
tabulate==0.8.9
